.gameState {
  text-align: center;
  margin: 10px;
  font-size: 14pt;
}

.players {
  display: flex;
  width: 100%;
}

.players .player {
  flex-grow: 1;
  text-align: center;
  background-color: #eee;
  margin: 0 2px;
}

.players .player .header {
  cursor: pointer;
}

.players .player .header.alreadySelected {
  cursor: not-allowed;
}

.players .player.current {
  font-weight: bold;
  background-color: lightgreen;
}

.players .player.alreadySelected {
  cursor: not-allowed;
}

.clearFloat {
  clear: both;
}

.objective {
  border: 1px solid grey;
  border-radius: 4px;
  margin: 6px;
  padding: 4px;
  width: 150px;
  float: left;
  text-align: center;
}

.objective.attained {
  background-color: lightgrey;
}

.objective span {
  display: inline-block;
  width: 20px;
  height: 26px;
  text-align: center;
  padding-top: 4px;
  color: white;
  font-weight: bold;
}

.objective span.colorY {
  color: black;
  background-color: yellow;
}

.objective span.colorG {
  background-color: green;
}

.objective span.colorB {
  background-color: blue;
}

.objective span.colorP {
  background-color: purple;
}

.card {
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  margin: 6px;
  padding: 4px;
  width: 150px;
  float: left;
  text-align: center;
}

.clickable{
    cursor: pointer;
}

.card.Y {
  border-color: yellow;
}

.card.G {
  border-color: green;
}

.card.B {
  border-color: blue;
}

.card.P {
  border-color: purple;
}

.card .cost, .card .effect, .card .discard, .card .power {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: black;
  font-weight: bold;
}
